@import 'lib.scss';

.content {
    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: $side-width auto;

    margin-top: 10px;

    &__sidenav {
        grid-column-start: 1;
        grid-column-end: 2;
        @include sidenav-main;
        &__element {
            @include sidenav-element;
        }
    }

    &__block {
        grid-column-start: 2;
        grid-column-end: 3;

        margin: 5px;
        padding: 10px;

        @include pushed-out($bg1);
        &__element {
            overflow: hidden;
            margin-top: 15px;
            &--first {
                margin-top: 0px;
            }
            &__title {
                padding: 5px;
                margin: 5px 15px 5px 15px;
                border-bottom: solid $fg2;
                text-decoration: none;
                color: $fg1;
                display: block;
                cursor: pointer;
                & > h1 {
                    font-size: x-large;
                    display: inline;
                }
                & > h2 {
                    font-size: large;
                    display: inline;
                }
                & > .arrow {
                    float: right;
                    margin-top: 5px;
                }
            }
            &__content {
                margin: 0px 15px;
                padding: 0px 5px;
                border-left: dotted darken($fg2, 5%);
                & > form {
                    & > .fields {
                        margin: 5px;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        & > .right-side {
                            padding: 0px 25px;
                            border-left: 2px solid $fg2;
                        }
                        & > .left-side {
                            padding: 0px 25px;
                            padding-left: 5px;
                        }
                        h1 {
                            font-size: large;
                            margin: 2px;
                            padding: 10px;
                            padding-top: 0px;
                            text-decoration: underline;
                        }
                    }
                    > .submit-div {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.arrow {
    border: solid $fg1;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.2s;
}

.right {
    transform: rotate(315deg);
}

.left {
    transform: rotate(135deg);
}

.down {
    transform: rotate(45deg);
}

.statusline {
    margin: 5px;
    padding: 5px;
    display: block;
    &__arrow {
        float: left;
        margin-top: 5px;
    }
    &__content {
        margin-left: 20px;
        margin-bottom: 5px;
    }
}

.status__single_row {
    margin: 5px 10px;
    padding: 5px 0px;
    font-size: large;
    display: flex;
    justify-content: space-between;
    & > * {
        padding: 5px 0px;
        display: inline;
    }
    & > #scrub-progress-line {
        padding: 0px;
    }
    & > #transcoding-progress-line {
        padding: 0px;
    }
    & progress {
        height: 100%;
        width: 100%;
    }
    &__right {
        text-align: right;
        width: 50%;
    }
}
