@import 'lib.scss';

form {
    // SELECT
    // ------
    select {
        display: block;
        width: 100%;
        margin: 10px;
        padding: 5px;
        color: $fg1;
        background-color: $bg2;
        border-radius: $radius;
        border: none;
        appearance: none;
    }
    .select-box {
        position: relative;
        &::after {
            content: '>';
            color: $fg1;
            position: absolute;
            transform: rotate(90deg);
            top: 6px;
            right: 2px;
        }
    }
    .custom-select {
        position: relative;
        width: 22em;
        height: calc(10px + 1.3ex);
        &__form-field {
            display: none;
        }
        &__selected {
            position: absolute;
            z-index: 2;
            top: 0;
            margin-top: 5px;
            border-radius: $radius $radius 0 0;
            background-color: $bg2;
            width: 20em;
            padding: 5px;
            height: calc(10px + 1.3ex);
            padding-left: 15px;
            transition: 0.3s linear;
            &::after {
                content: '<';
                color: $fg1;
                position: absolute;
                transform: rotate(-90deg);
                top: 6px;
                right: 15px;
                transition: 0.3s linear;
            }
            &:not(.open) {
                border-radius: $radius;
                &::after {
                    transform: rotate(0deg);
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        &__selection {
            list-style-type: none;
            padding: 5px 0;
            margin: 0;
            position: absolute;
            z-index: 1;
            top: calc(15px + 1.3ex);
            background-color: $bg2;
            border-radius: 0 0 $radius $radius;
            overflow: hidden;
            max-height: 50em;
            width: calc(20em + 20px);
            transition: 0.3s ease-out;
            &:not(.open) {
                top: 2ex;
                max-height: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            &__option {
                padding: 5px;
                padding-left: 20px;
                &:hover {
                    cursor: pointer;
                    background-color: lighten($bg2, 5%);
                }
                &.selected {
                    display: none;
                }
            }
        }
    }
    // CHECKBOX
    // --------
    .checkbox-row {
        width: 100%;
        & > label {
            display: flex;
            justify-content: space-between;
            padding-right: 15px;
            input[type=checkbox] {
                visibility: hidden;
            }
            .custom-checkbox {
                $cb-dim: 15px;
                background-color: $bg2;
                border-radius: $radius;
                margin: 2px;
                width: $cb-dim;
                height: $cb-dim;
                position: relative;
                &:hover {
                    background-color: lighten($bg2, 5%);
                    cursor: pointer;
                }
                &::after {
                    $check-dim: 5px;
                    content: "";
                    position: absolute;
                    left: 3.7px;
                    top: 3px;
                    width: $check-dim;
                    height: $check-dim;
                    border: 2px solid $accent1;
                    border-radius: $radius;
                }
            }
            input:checked+.custom-checkbox::after {
                display: block;
            }
            input:not(:checked)+.custom-checkbox::after {
                display: none;
            }
        }
    }
    // SUBMIT
    // ------
    input[type=submit] {
        border-radius: $radius;
        background-color: $accent1;
        border: none;
        color: $fg1;
        padding: 10px 40px;
        &:hover {
            cursor: pointer;
            background-color: darken($accent1, 5%);
        }
        &:active {
            @include pushed-in(darken($accent1, 5%))
        }
    }

}
