// BEM - Block__Element--Modifier

$break-desktop: 1000px;
$break-mobile: 520px; // this one won't be used normally

// COLORS
// ------

$bg1:       #505050;
$bg-bw:     #424242;
$bg2:       #353535;
$fg1:       #b8bdc9;
$fg2:       #636b7a;
$white:     #f0f0f0;
$accent1:   #9e241e;

// structure

$radius: 20px;
$side-width: 300px; // logo and sidebar width
$nb-height: 70px; // navbar height

// mixins
// ------

// box-shadow mixins:
@mixin pushed-in($color) {
    background-color: $color;
    border-radius: $radius;
    box-shadow: 3px 3px 1px darken($color, 5%) inset, -3px -3px 1px lighten($color, 5%) inset;
}
@mixin pushed-out($color) {
    background-color: $color;
    border-radius: $radius;
    box-shadow: 3px 3px 1px lighten($color, 5%) inset, -3px -3px 1px darken($color, 5%) inset;
}

// sidenav
@mixin sidenav-main {
    margin: 5px;
    padding: 10px;
    list-style-type: none;
    @include pushed-out($bg1);
}
@mixin sidenav-element {
    text-align: center;
    &__link {
        cursor: pointer;
        display: block;
        margin: 10px;
        padding: 10px;
        text-align: center;
        color: $fg1;
        font-size: large;
        @include pushed-out($bg1);
        &:hover {
            @include pushed-in($bg1);
            color: $fg1;
        }
        &--selected {
            @include pushed-in($bg1);
        }
    }
}
