@import 'lib.scss';

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: $bg1;
    color: $fg1;
    margin: 0px;
}

a {
    color: $fg1;
    text-decoration: none;
    &:hover {
        color: $fg2;
    }
}

.super-grid {
    display: grid;
    height: 100%;
    grid-template-rows: $nb-height auto auto; // navbar and content
}

.navbar {
    // grid plaement
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: $bg2;
    height: calc(#{$nb-height} - 1px);
    border-bottom: 1px solid $bg-bw;

    // elements
    display: flex;
    flex-flow: row nowrap;
    &__left {
        padding-top: 0px;
        display: flex;
        flex-flow: row nowrap;
        flex-basis: $side-width;
        justify-content: center;
        align-items: center;
        &__logo { // logo
            flex-grow: 1;
        }
    }
    &__middle {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 4;
        justify-content: flex-start;
        text-align: center;
        &__tab { // main tabs
            $margin1: 12px;
            $margin2: 5px;
            $padding: 10px;
            flex-basis: 8em;
            margin: $margin1 $margin2;
            padding-top: $padding;
            height: calc(#{$nb-height} - #{$margin1} - #{$margin1} - #{$padding});
            font-size: x-large;
            &:hover {
                color: $fg1;
                @include pushed-in($bg2);
            }
            &--selected {
                border-radius: $radius;
                background-color: $accent1;
                &:hover {
                    border-radius: 20px;
                    box-shadow: none;
                    background-color: $accent1;
                }
            }
        }
    }
    &__right {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
        justify-content: end;
        align-items: center;
        text-align: center;
        margin-right: 2em;
        @media screen and (max-width: $break-desktop) {
            display: none;
        }
        &__tab { // settings/admin
            flex-grow: 1;
        }
    }
}

.flash {
    display: block;
    width: calc(100% - 40px); // 100% - 2xmargin -2xpadding
    margin: 10px;
    margin-bottom: 0px;
    padding: 5px 10px;
    border-radius: $radius;
    background-color: $bg2;
    grid-row-start: 2;
    grid-row-end: 3;
    &__msg {
        float: left;
    }
    &__close {
        float: right;
        &:hover {
            cursor: pointer;
        }
    }
}

.simple-list {
    margin: 5px 25px;
    padding: 5px;
    list-style-type: decimal-leading-zero;
}

progress, progress[role] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    border-radius: $radius;

    background-size: auto;
}
progress[role]:after {
    background-image: none;
}
progress[role] strong {
    display: none;
}

progress,
progress[role][aria-valuenow] {
    border-radius: $radius;
    background: $bg2 !important;
}

progress {
    text-align: center;

    border-radius: $radius;
    color: $accent1;
}

/* place content over progress bar */
.progress {
    position: relative;
    &__value {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* chrome/safari */
progress::-webkit-progress-bar {
    border-radius: $radius;
    background: $bg2;
}
progress::-webkit-progress-value {
    border-radius: $radius;
    background: $accent1;
}

/* firefox */
progress::-moz-progress-bar {
    border-radius: $radius;
    background: $accent1;
}

/* polyfill */
progress[aria-valuenow]:before {
    background: $accent1;
}

.menu_hidden {
    overflow: visible;
    max-height: 40em;
    transition: max-height 0.3s linear;
}
.menu_hidden:not(.menu_show) {
    overflow: hidden;
    max-height: 0;
}
.menu_show {
}
