@import 'lib.scss';

.content {
    grid-row-start: 3;
    grid-row-end: 4;

    display: block;
    margin-top: 10px;
    &__topbar {
        margin: 5px;
        margin-bottom: 20px;
        padding: 5px 20px;

        display: flex;

        & #order-form {
            display: flex;
            & label {
                display: none;
                padding: 5px;
                font-size: medium;
                color: darken($fg1, 5%);
            }
            & > .custom-select {
                width: 12em;
                & > #ordering-selected {
                    position: relative;
                    width: 10em;
                    margin-top: 0;
                }
                & > #ordering-selection {
                    width: calc(10em + 20px);
                }
            }
        }
    }
    &__main {
        margin: 10px;
        padding: 10px;

        @include pushed-in($bg1);

        display: block;
    }
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.movie_card {
    margin: 5px;
    position: relative;
    &__poster {
        height: 30ex;
        width: 20ex;
        border-radius: $radius;
    }
    &__info {
        opacity: 0;
        transition: opacity 0.3s ease-out;

        height: calc(30ex - 10px);
        width: calc(20ex - 10px);
        border-radius: $radius;

        background-color: $fg1;
        color: darken($bg2, 10%);

        position: absolute;
        top: 0;
        bottom: 0;
        padding: 5px;
        font-size: medium;

        &__duration {
            position: absolute;
            bottom: 5px;
            right: 10px;
        }
        &__title {
            position: absolute;
            top: 5px;
        }

        :hover > & {
            opacity: 0.6;
            cursor: pointer;
        }
    }
}

.loading {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
