@import 'lib.scss';

.content {
    grid-row-start: 1;
    grid-row-end: 3;
}

.videoplayer-container {
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    #videoplayer-controls {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
        transition: bottom 500ms ease-in-out;
        &[data-state=hidden] {
            bottom: -40px;
        }
        &[data-state=visible] {
            bottom: 5px;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        // style buttons
        & button {
            margin: 0px 10px;
            padding: 6px;
            height: 32px;
            width: 32px;
            text-align: center;
            position: relative;
            cursor: pointer;
            color: $fg1;
            background: rgba(0, 0, 0, 0.2);
            border: none;
            border-radius: $radius;
            & > svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        & > #progress {
            width: 70%;
            & > #video-progress-line {
                display: block;
                width: 100%;
                & > progress {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

.roll-up-menu {
    $small-radius: 10px;
    position: absolute;
    bottom: 32px;
    right: 0px;
    overflow: hidden;
    border-radius: $small-radius $small-radius 0px $small-radius;

    background-color: $bg1;
    color: $fg1;

    transition: 0.3s ease-out;

    &[data-state=hidden] {
        max-height: 0px;
        padding: 0px;
    }

    &[data-state=visible] {
        max-height: 100px;
        padding: 5px 0px;
        width: 75px;
    }

    &__options {
        &__option {
            text-align: right;
            display: block;
            padding: 2px;
            padding-right: 10px;
            width: calc(100% - 12px);
            &:hover {
                background-color: $bg2;
            }
            &[data-state=selected] {
                &:before {
                    content: "\2713 "
                }
            }
        }
    }
}
